<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Student List</h1>
        <ul class="list-group mt-4">
            {% for student in students %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ student.name }} - {{ student.grade }}
                    <span>{{ student.parent_contact }}</span>
                </li>
            {% endfor %}
        </ul>
        <div class="text-center mt-4">
            <a href="{% url 'student_register' %}" class="btn btn-success">Register New Student</a>
        </div>
    </div>
</body>
</html>